<settings>
    <setting id="add_playlist" value="false" />
    <setting id="browse_community" value="false" />
    <setting id="browse_xml_database" value="false" />
    <setting id="choose_source" value="" />
    <setting id="debug" value="false" />
    <setting id="new_file_source" value="" />
    <setting id="new_url_source" value="" />
    <setting id="save_location" value="" />
    <setting id="use_thumb" value="false" />
</settings>
