<settings>
	<category label="Video Setting">
	    <setting label="Chất lượng phim" type="labelenum" id="video_quality" default="Full HD" values="SD|HD|Full HD|Chọn khi xem"/>
	    <setting label="Phụ đề" type="labelenum" id="subtitle" default="VIE" values="VIE|ENG|Tắt"/>
		<setting label="Bật thuyết minh (nếu có)" type="bool" id="useViAudio" default="true"/>
		<setting label="Bật âm thanh 5.1 (nếu có, đang thử nghiệm)" type="bool" id="useDolbyAudio" default="true"/>
	</category>
</settings>